@model SSISTeam9.Models.ChargeBack

@using SSISTeam9.Models;

@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Charge Back";

    List<ChargeBack> chargeBacks = (List<ChargeBack>)ViewData["chargeBacks"];
    List<string> months = (List<string>)ViewData["months"];
    List<int> years = (List<int>)ViewData["years"];
    List<string> depts = (List<string>)ViewData["depts"];
    int? mode = (int?)TempData["mode"];
    ChargeBack chargeback = (ChargeBack)ViewData["chargeback"];
    string sessionId = (string)ViewData["sessionId"];
}

<h2 style="text-align:center">ChargeBack Details</h2>

<div>
    @using (Html.BeginForm("Generate", "ChargeBack", new { mode = 1, sessionId = sessionId }, FormMethod.Post))
    {
        <div style="text-align:center">
            <label style="text-align:center;margin-top:10px;padding-right:8em">By Month: </label>
            <select name="monthOfOrder" id="monthOfOrder" style="width: 180px">
                @for (int i = 0; i < 12; i++)
                {
                    <option value="@(i+1)">@months[i]</option>
                }
            </select>
            <label style="padding-right:15.8em"></label>
            <input style="margin-left:10px;margin-top:10px;text-align:center" class="rounded" type="submit" value="Generate">
        </div>

    }
    @using (Html.BeginForm("Generate", "ChargeBack", new { mode = 2, sessionId = sessionId }, FormMethod.Post))
    {
        <div style="text-align:center">
            <label style="text-align:center;margin-top:10px;padding-right:5.7em">By Departmen: </label>
            <select name="yearOfOrder" id="yearOfOrder" style="width: 180px">
                @foreach (int year in years)
                {
                    <option>@year</option>
                }
            </select>
            <label style="padding-right:2em"></label>
            <select name="deptName" id="deptName" style="width: 180px">
                @foreach (string dept in depts)
                {
                    <option>@dept</option>
                }
            </select>
            <label style="padding-right:2em"></label>
            <input style="margin-left:10px;margin-top:10px;text-align:center" class="rounded" type="submit" value="Generate">
        </div>

    }

</div>
@if (chargeBacks == null || chargeBacks.Count == 0)
{
    <br /><br />
    <p style="font-size:14px; text-align:center">No ChargeBack to display</p>

}
else
{
    if (mode == 1)
    {
        <p style="text-align:center">Charge Back Details for All Departments in @months[chargeback.MonthOfOrder - 1]</p>
        <table class="table table-bordered" style="text-align:center">
            <tr align="center">
                <th>Department Name</th>
                <th>ChargeBack</th>
            </tr>
            @foreach (var c in chargeBacks)
            {
                <tr align="center">
                    <td><a href="/Disbursement/ViewDeptCompletedDisburse?deptId=@c.DeptId&sessionid=@sessionId">@c.DeptName </a></td>
                    <td>$@c.Amount</td>
                </tr>
            }
        </table>

    }
    else
    {
        <p style="text-align:center">Charge Back Details for <a href="/Disbursement/ViewDeptCompletedDisburse?deptId=@chargeback.DeptId&sessionid=@sessionId">@chargeback.DeptName </a>in @chargeback.YearOfOrder</p>
        <table class="table table-bordered" style="text-align:center">
            <tr align="center">
                <th>Month</th>
                <th>ChargeBack</th>
            </tr>
            @foreach (var c in chargeBacks)
            {
                <tr align="center">
                    <td>@months[c.MonthOfOrder - 1]</td>
                    <td>$@c.Amount</td>
                </tr>
            }
        </table>
    }
}
