@using SSISTeam9.Models;

@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Department List";
    List<Department> departments = (List<Department>)ViewData["departments"];

    string sessionId = (string)ViewData["sessionId"];
}

<h2>Department List</h2>

@if (departments.Count == 0)
{
    <br><br>
    <p style="font-size:14px">No departments to display</p>
}
else
{
    <section>
        <div class="department">
            @foreach (var d in departments)
            {
                <div class="department-list">
                    <p>
                        Department Code: <a href="/Department/Details?deptId=@d.DeptId&sessionId=@sessionId">@d.DeptCode</a><br>
                        Department Name: @d.DeptName<br>
                        Contact Name: @d.Contact<br>
                        Telephone No.: @d.Telephone<br>
                        Fax No.: @d.Fax<br>
                        Head's Name: @d.Head<br>
                        Collection Point: @d.CollectionPoint.Name<br>
                        Representative Name: @d.Representative.EmpName
                    </p>
                </div>
            }
        </div>
        <div>
            <p align="center"><input class="rounded" type="button" value="Create New Department" onclick="location.href='@Url.Action("Create","Department", routeValues: new { sessionid = sessionId })'"></p>
        </div>
    </section>

}

<style>

    .department {
        display: flex;
        flex-wrap: wrap;
    }

    .department-list {
        padding: 2%;
        flex-grow: 1;
        flex-basis: 45%;
        display: flex;
    }
</style>

