@model SSISTeam9.Models.Department

@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Create New Department";
    List<string> empNames = (List<string>)ViewData["empNames"];
    string sessionId = (string)ViewData["sessionId"];
}

<h2>Create New Department</h2>

<div>
    @using (Html.BeginForm("CreateNew", "Department", routeValues: new { sessionid = sessionId }, method: FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.DeptCode) </td>
                <td>@Html.TextBoxFor(x => x.DeptCode, new { id = "deptCode" })</td>
                <td>@Html.ValidationMessageFor(x => x.DeptCode, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.DeptName) </td>
                <td>@Html.TextBoxFor(x => x.DeptName, new { id = "deptName" })</td>
                <td>@Html.ValidationMessageFor(x => x.DeptName, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Contact) </td>
                <td>
                    <div>
                        <select name="contact" id="contact" style="width: 180px">
                            @foreach (string empName in empNames)
                            {
                                <option>@empName</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Telephone) </td>
                <td>@Html.TextBoxFor(x => x.Telephone, new { id = "telephone" })</td>
                <td>@Html.ValidationMessageFor(x => x.Telephone, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Fax) </td>
                <td>@Html.TextBoxFor(x => x.Fax, new { id = "fax" })</td>
                <td>@Html.ValidationMessageFor(x => x.Fax, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Head) </td>
                <td>
                    <div>
                        <select name="head" id="head" style="width: 180px">
                            @foreach (string empName in empNames)
                            {
                                <option>@empName</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><input type="submit" value="Save Create" style="background-color:green;color:white;"></td>
            </tr>
        </table>


    }

</div>

@Html.Raw(TempData["errorMsg"])

<style>
    td {
        padding: 2px;
    }

    tr {
        height: 40px;
        padding: 2px;
    }
</style>