@model SSISTeam9.Models.Department

@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Update Department Details";
    Department department = (Department)ViewData["department"];
    List<string> empNames = (List<string>)ViewData["empNames"];
    string sessionId = (string)ViewData["sessionId"];
}

<h2 style="text-align:center">Update Department Details</h2>

<div>
    @using (Html.BeginForm("Update", "Department", routeValues: new { sessionid = sessionId }, method: FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <p align="left"><input type="button" value="Reset" onclick="location.href='@Url.Action("Details","Department", new {deptId = department.DeptId})'"></p>
                </td>
                <td>
                    <p align="right"><input type="button" value="Back" onclick="location.href='@Url.Action("All","Department")'"></p>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.DeptCode) </td>
                <td>@Html.TextBoxFor(x => x.DeptCode, new { id = "deptCode", @Value = department.DeptCode })</td>
                <td>@Html.ValidationMessageFor(x => x.DeptCode, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.DeptName) </td>
                <td>@Html.TextBoxFor(x => x.DeptName, new { id = "deptName", @Value = department.DeptName })</td>
                <td>@Html.ValidationMessageFor(x => x.DeptName, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Contact) </td>
                <td>
                    <div>
                        <select name="contact" id="contact" style="width: 180px">
                            @if (department.Contact != "Nil")
                            {
                                <option>@department.Contact</option>
                            }
                            @foreach (string empName in empNames)
                            {
                                if (empName != department.Contact)
                                {
                                    <option>@empName</option>
                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Telephone) </td>
                <td>@Html.TextBoxFor(x => x.Telephone, new { id = "telephone", @Value = department.Telephone })</td>
                <td>@Html.ValidationMessageFor(x => x.Telephone, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Fax) </td>
                <td>@Html.TextBoxFor(x => x.Fax, new { id = "fax", @Value = department.Fax })</td>
                <td>@Html.ValidationMessageFor(x => x.Fax, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Head) </td>
                <td>
                    <div>
                        <select name="head" id="head" style="width: 180px">
                            @if (department.Head != "Nil")
                            {
                                <option>@department.Head</option>
                            }
                            @foreach (string empName in empNames)
                            {
                                if (empName != department.Head)
                                {
                                    <option>@empName</option>
                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button style="background-color:red;">
                        @Html.ActionLink("Delete Department","Delete","Department",
                        new { confirm = true, deptId = department.DeptId, sessionid = sessionId },
                        new { Style = "color:White;", onclick = "return confirm('Do you really want to delete this department?')" })
                    </button>
                </td>
                <td align="right"><input type="submit" value="Save Update" style="background-color:forestgreen; color:white"></td>
                @Html.Hidden("deptId", department.DeptId)
            </tr>
        </table>


    }

</div>

@Html.Raw(TempData["errorMsg"])

<style>
    td {
        padding: 2px;
    }

    tr {
        height: 40px;
        padding: 2px;
    }
</style>