@model SSISTeam9.Models.PurchaseOrder

@using SSISTeam9.Models;
@{
    ViewBag.Title = "View All Purchase Orders";
    List<PurchaseOrder> orders = (List<PurchaseOrder>)ViewData["orders"];
}

<h2>Purchase Orders</h2>

@if (orders.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No orders to display</p>
}
else
{
    using (Html.BeginForm("Edit", "PurchaseOrder", FormMethod.Post))
    {
        <table>
            <tr>
                <th>PO Number</th>
                <th>Submitted Date</th>
                <th>Order Date</th>
                <th>To Be Delivered By</th>
                <th>Supplier Name</th>
                <th>Status</th>
            </tr>
            @foreach (var order in orders)
            {
            <tr>
                <td>
                    @if (@order.Status == "Pending Supplier Confirmation")
                    {
                        <a href="/PurchaseOrder/Edit?orderNumber=@order.OrderNumber">@order.OrderNumber</a>
                    }
                    else if (@order.Status == "Pending Delivery")
                    {
                        <a href="/PurchaseOrder/Close?orderNumber=@order.OrderNumber">@order.OrderNumber</a>
                    }

                </td>
                <td>@order.SubmittedDate.ToString("dd MMM yyyy")</td>
                <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
                <td>@order.DeliverBy.ToString("dd MMM yyyy")</td>
                <td>@order.Supplier.Name</td>
                <td>@order.Status</td>
            </tr>
            }
        </table>
    }
}

<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
