@model SSISTeam9.Models.PurchaseOrder

@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "All Purchase Orders";
    List<PurchaseOrder> orders = (List<PurchaseOrder>)ViewData["orders"];

    string sessionId = (string)ViewData["sessionId"];
}

<h3>Purchase Orders</h3>

@if (orders.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No orders to display</p>
}
else
{
    using (Html.BeginForm("Edit", "PurchaseOrder", routeValues: new { sessionid = sessionId }
    , method: FormMethod.Post))
    {
        <table class="table table-bordered">
            <tr>
                <th>PO Number</th>
                <th>Submitted Date</th>
                <th>Order Date</th>
                <th>To Be Delivered By</th>
                <th>Supplier Name</th>
                <th>Status</th>
            </tr>
            @foreach (var order in orders)
            {
            <tr>
                <td>
                    <input type="submit" name="orderNumber" value="@order.OrderNumber" style="background:none;border:0;color:#333EFF;text-decoration:underline;">
                </td>
                <td>@order.SubmittedDate.ToString("dd MMM yyyy")</td>
                <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
                <td>@order.DeliverBy.ToString("dd MMM yyyy")</td>
                <td>@order.Supplier.Name</td>
                <td>@order.Status</td>
            </tr>
            }
        </table>
    }
}

<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
