@model SSISTeam9.Models.PurchaseOrder

@using SSISTeam9.Models;
@{
    ViewBag.Title = "Choose Suppliers";
    List<Inventory> selectedItems = (List<Inventory>)ViewData["selectedItems"];
    PurchaseOrder selectedOrder = (PurchaseOrder)ViewData["order"];
    var counter = 0;
}

<h2>Choose Alternative Suppliers</h2>

<div>
    @using (Html.BeginForm("ConfirmUpdate", "PurchaseOrder", FormMethod.Post))
    {
    <table>
        <tr>
            <th>Change Supplier To</th>
            <th>Item Number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price ($)</th>
        </tr>
        @foreach (var item in selectedItems)
        {
        <tr>
            <td>
                <select id="item_@counter" name="item_@counter">
                    @if (selectedOrder.SupplierId == item.ItemSuppliersDetails.Supplier1Id)
                    {
                        <option value="@item.ItemSuppliersDetails.Supplier2Name">@item.ItemSuppliersDetails.Supplier2Name</option>
                        <option value="@item.ItemSuppliersDetails.Supplier3Name">@item.ItemSuppliersDetails.Supplier3Name</option>
                    }
                    else if (selectedOrder.SupplierId == item.ItemSuppliersDetails.Supplier2Id)
                    {
                        <option value="@item.ItemSuppliersDetails.Supplier2Name">@item.ItemSuppliersDetails.Supplier1Name</option>
                        <option value="@item.ItemSuppliersDetails.Supplier3Name">@item.ItemSuppliersDetails.Supplier3Name</option>
                    }
                    else if (selectedOrder.SupplierId == item.ItemSuppliersDetails.Supplier3Id)
                    {
                        <option value="@item.ItemSuppliersDetails.Supplier2Name">@item.ItemSuppliersDetails.Supplier1Name</option>
                        <option value="@item.ItemSuppliersDetails.Supplier3Name">@item.ItemSuppliersDetails.Supplier2Name</option>
                    }
                </select>
            </td>
            <td>@item.ItemCode</td>
            <td>@item.Description</td>
            <td><input style="text-align:center" type="number" name="quantity_@counter" id="quantity_@counter" value="@selectedOrder.ItemDetails[counter].Quantity">@(" " + item.UnitOfMeasure)</td>
            <td>@item.ItemSuppliersDetails.Supplier1UnitPrice</td>
        </tr>
        counter  = counter + 1;
        }
        <tr>
            <td colspan="6" align="right"><input type="submit" value="Confirm Changes"></td>
        </tr>

    </table>

    }
</div>

<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>

