@model SSISTeam9.Models.PurchaseOrder

@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Close Purchase Order";
    PurchaseOrder order = (PurchaseOrder)ViewData["order"];
    double total = 0;
    long itemSupplierId = 0;
    var counter = 0;

    string sessionId = (string)ViewData["sessionId"];
}

<h2>Purchase Order</h2>

<div>
    @using (Html.BeginForm("ConfirmClose", "PurchaseOrder", routeValues: new { sessionid = sessionId }
    , method: FormMethod.Post))
    {
    <table>
        <tr>
            <td colspan="3" align="left">Supplier name: @order.Supplier.Name </td>
            <td colspan="2" align="right">PO Number: @order.OrderNumber</td>
        </tr>
        <tr>
            <td colspan="3" align="left" />
            <td colspan="2" align="right">Deliver To: @order.DeliverTo</td>
        </tr>
        <tr>
            <td colspan="3" align="left">Please supply the following items by: <b><u>@order.DeliverBy.Date.ToString("dd MMM yyyy")</u></b> </td>
            <td colspan="2" align="right">Attn: @order.Supplier.ContactName</td>
        </tr>
        <tr>
            <th>Item Number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price ($)</th>
            <th align="right">Total ($)</th>
        </tr>

        @foreach (var item in order.ItemDetails)
        {
        <tr>
            @Html.HiddenFor(m => m.OrderNumber, new { id = "orderNumber" })
            <td>@item.Item.ItemCode</td>
            <td>@item.Item.Description</td>
            <td><input type="number" name="quantity_@counter" id="quantity_@counter" value="@order.ItemDetails[counter].Quantity" min="0"></td>

            <!--To check what is the supplier for the current Purchase Order-->
            @if (order.SupplierId == item.Item.ItemSuppliersDetails.Supplier1Id)
            {
                <td>@item.Item.ItemSuppliersDetails.Supplier1UnitPrice</td>
                <!--To check if the supplier for this Purchase Order is the main supplier-->
                itemSupplierId = item.Item.ItemSuppliersDetails.Supplier1Id;
            }
            else if (order.SupplierId == item.Item.ItemSuppliersDetails.Supplier2Id)
            {
                <td>@item.Item.ItemSuppliersDetails.Supplier2UnitPrice</td>
            }
            else if (order.SupplierId == item.Item.ItemSuppliersDetails.Supplier3Id)
            {
                <td>@item.Item.ItemSuppliersDetails.Supplier3UnitPrice</td>
            }

            @if (order.SupplierId == item.Item.ItemSuppliersDetails.Supplier1Id)
            {
                <td>@(item.Quantity * Convert.ToDouble(item.Item.ItemSuppliersDetails.Supplier1UnitPrice))</td>
                total = total + item.Quantity * Convert.ToDouble(item.Item.ItemSuppliersDetails.Supplier1UnitPrice);
            }
            else if (order.SupplierId == item.Item.ItemSuppliersDetails.Supplier2Id)
            {
                <td>@(item.Quantity * Convert.ToDouble(item.Item.ItemSuppliersDetails.Supplier2UnitPrice))</td>
                total = total + item.Quantity * Convert.ToDouble(item.Item.ItemSuppliersDetails.Supplier2UnitPrice);
            }
            else if (order.SupplierId == item.Item.ItemSuppliersDetails.Supplier3Id)
            {
                <td>@(item.Quantity * Convert.ToDouble(item.Item.ItemSuppliersDetails.Supplier3UnitPrice))</td>
                total = total + item.Quantity * Convert.ToDouble(item.Item.ItemSuppliersDetails.Supplier3UnitPrice);
            }
            <td><input type="hidden" name="item_@counter" id="item_@counter" value="@order.ItemDetails[counter].ItemId"></td>
        </tr>
            counter = counter + 1;
        }
        <tr style="height:100px">
            <td colspan="4" align="right"><b>Total: </b></td>
            <td colspan="1">@total.ToString("C2")</td>
        </tr>
        @if (order.SupplierId != itemSupplierId)
        {
        <tr>
            <td colspan="5" align="left">Note to Purchasing Department: Did not order from main supplier as it is not able to fulfill required order.</td>
        </tr>
        }
        <tr>
            <td colspan="2" align="left">Ordered By: @order.Employee.EmpName</td>
            <td colspan="3" align="right"><input type="submit" value="Close Order"></td>
        </tr>
        <tr>
            <td colspan="5" align="right">
                <button>
                    @Html.ActionLink("Delete PO", "Delete", "PurchaseOrder",
                    new { confirm = true, ordernumber = order.OrderNumber, sessionId = sessionId },
                    new { onclick = "return confirm('Do you really want to delete this purchase order?')" })
                </button>
            </td>
        </tr>
    </table>
    }
</div>

<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>

