@model SSISTeam9.Models.StockCard

@using SSISTeam9.Models;

@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Stock Card";
    Inventory catalogue = (Inventory)ViewData["catalogue"];
    PriceList pricelist = (PriceList)ViewData["priceList"];
    List<StockCard> stockCards = (List<StockCard>)ViewData["stockCards"];
    string sessionId = (string)ViewData["sessionId"];
}

<h2 style="text-align:center">Stock Card</h2>

    <p>
        Item Code: @catalogue.ItemCode<br />
        Category: @catalogue.Category<br />
        Description: @catalogue.Description<br />
        Unit Of Measure: @catalogue.UnitOfMeasure<br />
        Bin No.: @catalogue.BinNo<br />
    </p>
    @if(pricelist != null)
    {
        <p>
        First Supplier: <b>@pricelist.Supplier1Name</b><br />
        Second Supplier: <b>@pricelist.Supplier2Name</b><br />
        Thrid Supplier: <b>@pricelist.Supplier3Name</b><br />
    </p>
    }
    

<table class="table table-bordered" align="center">
    <tr align="center">
        <th>Date</th>
        <th>Department/Supplier</th>
        <th>Quantity</th>
        <th>Balance</th>
    </tr>
    @foreach (StockCard s in stockCards)
    {
        <tr align="center">
            <td>@s.Date.Day/@s.Date.Month/@s.Date.Year</td>
            <td>@s.Display</td>
            <td>@s.Qty</td>
            <td>@s.Balance</td>
        </tr>
    }

</table>