@model IEnumerable<SSISTeam9.Models.Requisition>

@{
    ViewBag.Title = "DeptRequisition";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReqId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReqCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th></th>
    </tr>

@foreach (var req in Model) {
    <tr>
        <td>
            @Html.ActionLink(req.ReqId.ToString(), "GetRequisitionDetails", new { reqId = req.ReqId })
        </td>
        <td>
            @Html.DisplayFor(modelreq => req.ReqCode)
        </td>
        <td>
            @Html.DisplayFor(modelreq => req.DateOfRequest)
        </td>
        <td>
            @Html.DisplayFor(modelreq => req.Status)
        </td>
        <td>
            @Html.DisplayFor(modelreq => req.PickUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelreq => req.ApprovedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=req.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=req.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=req.PrimaryKey */ })
        </td>
    </tr>
}

</table>
