@model SSISTeam9.Models.Requisition
@using SSISTeam9.Models
@{
    var requisitions = (List<Requisition>)ViewData["requisitionsToProcess"];
    var sessionId = (string)ViewData["sessionId"];
    var showAll = (bool)ViewData["all"];
    var permanentHead = (bool)ViewData["permanentHead"];
}

<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header style="padding-bottom: 30px;">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (showAll && permanentHead)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Pending Requisitiond", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
                else if (!showAll && permanentHead)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
                else if (!showAll && !permanentHead)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Pending Requisitiond", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>

@{
    if (requisitions.Count == 0)
    {
        <h2>No pending requisitions</h2>
    }
    else
    {
        <table class="table table-bordered">
            <tr>
                <th>RequisitionID</th>
                <th>Employee Name</th>
            </tr>

            @foreach (var requisition in requisitions)
            {
                <tr>

                    <td>@Html.ActionLink(@requisition.ReqId.ToString(), "GetRequisitionDetails", new { reqId = @requisition.ReqId,sessionId=sessionId })</td>
                    <td>@requisition.Employee.EmpName</td>
                </tr>
            }
        </table>
    }

}