@model SSISTeam9.Models.Requisition
@using SSISTeam9.Models
@{
    var requisitions = (List<Requisition>)ViewData["requisitionsToProcess"];
    var sessionId = (string)ViewData["sessionId"];
}
@Html.ActionLink("Pending Requisitiond", "GetPendingRequisitions", new { sessionId = sessionId })
@Html.ActionLink("Past Requisitions", "ViewPastRequisitions", new { sessionId = sessionId })
<a href="~/Representative/ChangeRepresentative?sessionId=@sessionId">Change Representative</a>
<a href="~/Delegate/ViewDelegate?sessionId=@sessionId">Delegate</a>
<a href="~/Delegate/ViewRemoveDelegate?sessionId=@sessionId">Remove Delegate</a>
<a href="~/Home/Logout?sessionId=@sessionId">Logout</a>
@{
    if (requisitions.Count == 0)
    {
        <h2>No pending requisitions</h2>
    }
    else
    {
        <table>
            <tr>
                <th>RequisitionID</th>
                <th>Employee Name</th>
            </tr>

            @foreach (var requisition in requisitions)
            {
                <tr>

                    <td>@Html.ActionLink(@requisition.ReqId.ToString(), "GetRequisitionDetails", new { reqId = @requisition.ReqId })</td>
                    <td>@requisition.Employee.EmpName</td>
                </tr>
            }
        </table>
    }

}