@model SSISTeam9.Models.RequisitionDetails
@using SSISTeam9.Models
@{
    var requisitionDetails = (List<RequisitionDetails>)ViewData["requisitionDetails"];
    var reqId = (long)ViewData["reqId"];
    var appStatus = "Approved";
    var rejStatus = "Rejected";
    string sessionId = (string)ViewData["sessionId"];
    bool isRep = (bool)ViewData["isRep"];
}
<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header style="padding-bottom: 30px;">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Pending Requisitions", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Remove Delegate", "ViewRemoveDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>
Requisition ID : @reqId
@{
    <form method="post">
        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <th>UnitOfMeasure</th>
                <th>Quantity</th>
            </tr>

            @foreach (var detail in requisitionDetails)
            {
                <tr>

                    <td>@detail.Item.Description</td>
                    <td>@detail.Item.UnitOfMeasure</td>
                    <td>@detail.Quantity</td>
                </tr>
            }
        <tr>
            <td></td>
            <td><button class="rounded" type="submit" id=reqId formaction="/Requisition/ProcessRequisition?reqId=@reqId&status=@rejStatus&sessionId=@sessionId"><span>Reject</span></button></td>
            <td><button class="rounded" type="submit" id=reqId formaction="/Requisition/ProcessRequisition?reqId=@reqId&status=@appStatus&sessionId=@sessionId"><span>Approve</span></button></td>
            <td><button class="rounded" type="submit" id=reqId formaction="/Requisition/Reorder?reqId=@reqId&sessionId=@sessionId"><span>Reorder</span></button></td>
        </tr>
        </table>
    </form>

}