@model SSISTeam9.Models.RequisitionDetails
@using SSISTeam9.Models
@{
    var requisitionDetails = (List<RequisitionDetails>)ViewData["requisitionDetails"];
    var appStatus = "Approved";
    var rejStatus = "Rejected";
    Requisition req = (Requisition)ViewData["req"];
    string sessionId = (string)ViewData["sessionId"];
    bool isRep = (bool)ViewData["isRep"];
    bool havingRequisition = (bool)ViewData["havReq"];
    string roleForDetail = (string)ViewData["roleForDetail"];
    var showAll = (bool)ViewData["all"];
    var permanentHead = (bool)ViewData["permanentHead"];
    if (roleForDetail == "store")
    {
        Layout = "~/Views/Shared/_Store.cshtml";
    }
}
@if (roleForDetail != "store")
{
    <link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
    <header style="padding-bottom: 30px;">
        <!-- Fixed navbar -->
        <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (roleForDetail == "dept")
                    {
                        <!-- dept nav -->
                        <li class="nav-item active">
                            @Html.ActionLink("New Requisition", "NewRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Requisition List", "RequisitionList", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("My Requisition", "MyRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Department Requisition", "DeptRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                        </li>
                        if (isRep)
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("Disbursement List", "RepDisbursementList", "Disbursement", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                        }
                    }
                    else if (roleForDetail == "head")
                    {
                        <!-- head nav -->
                        if (showAll && permanentHead)
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("Pending Requisitions", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                        }
                        else if (!showAll && permanentHead)
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                        }
                        else if (!showAll && !permanentHead)
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("Pending Requisitions", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                            </li>
                        }
                    }
                </ul>
                <ul class="navbar-nav mt-2 mt-md-0">
                    <li class="nav-item active">
                        @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </header>
}
<h2>Requisition Details</h2>
<br />
<b><p>Requisition Code : @req.ReqCode</p></b>
@{
    <form method="post">
        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <th>UnitOfMeasure</th>
                <th>Quantity</th>
            </tr>

            @foreach (var detail in requisitionDetails)
            {
                <tr>

                    <td>@detail.Item.Description</td>
                    <td>@detail.Item.UnitOfMeasure</td>
                    <td>@detail.Quantity</td>
                </tr>
            }
        </table>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <div class="row">
                        @if (roleForDetail == "head" && req.Status == "Pending Approval")
                        {
                            <div class="col">
                                <button class="rounded btn-width btn-danger" type="submit" id=reqId formaction="/Requisition/ProcessRequisition?reqId=@req.ReqId&status=@rejStatus&sessionId=@sessionId"><span>Reject</span></button>
                            </div>
                            <div class="col">
                                <button class="rounded btn-width btn-success" type="submit" id=reqId formaction="/Requisition/ProcessRequisition?reqId=@req.ReqId&status=@appStatus&sessionId=@sessionId"><span>Approve</span></button>
                            </div>
                        }
                        else if (roleForDetail == "dept" && !havingRequisition)
                        {
                            <div class="col"></div>
                            <div class="col">
                                <button class="rounded btn-width btn-success" type="submit" id=reqId formaction="/Requisition/Reorder?reqId=@req.ReqId&sessionId=@sessionId"><span>Reorder</span></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>

}
<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>