@model IEnumerable<SSISTeam9.Models.Requisition>

@{
    ViewBag.Title = "MyRequisition";
    string sessionId = (string)ViewData["sessionId"];
    bool isRep = (bool)ViewData["isRep"];
}

<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header style="padding-bottom: 30px;">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("New Requisition", "NewRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Requisition List", "RequisitionList", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("My Requisition", "MyRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Department Requisition", "DeptRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                @if (isRep)
                {
                <li class="nav-item active">
                    @Html.ActionLink("Disbursement List", "RepDisbursementList", "Disbursement", new { sessionId = sessionId, timeErr = false }, new { @class = "nav-link" })
                </li>
                }
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>

@{
    if (Model.ToArray().Length == 0)
    {
        <h2>You don't have any requisition yet!</h2>
    }
    else
    {
        <h2>My Requisition</h2>
        <br />
        <table class="table table-bordered">
            <tr>
                <th>
                    Requisition Code
                </th>
                <th>
                    Date Of Request
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>

            @foreach (var req in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(req.ReqCode.ToString(), "GetRequisitionDetails", new { reqId = req.ReqId, sessionId = sessionId })
                </td>
                <td>
                    @Html.DisplayFor(modelreq => req.DateOfRequest)
                </td>
                <td>
                    @Html.DisplayFor(modelreq => req.Status)
                </td>
            </tr>
            }

        </table>
    }
}

        <style>
            td {
                padding: 2px;
                width: 200px;
            }

            tr {
                height: 40px;
                padding: 2px;
                text-align: center;
            }

            th {
                text-align: center;
            }
        </style>