@model IEnumerable<SSISTeam9.Models.Inventory>
@using SSISTeam9.Models;

@{
    ViewBag.Title = "NewRequisition";
    List<String> category = (List<String>)ViewData["category"];
    string sessionId = (string)ViewData["sessionId"];
    bool isRep = (bool)ViewData["isRep"];

}

<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<link href="~/Content/cart.css" rel="stylesheet">
<header class="nav-header">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("New Requisition", "NewRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Requisition List", "RequisitionList", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("My Requisition", "MyRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Department Requisition", "DeptRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                @if (isRep)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Disbursement List", "RepDisbursementList", "Disbursement", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>

<h2>New Requisition</h2>
<hr />

<form class="form-inline" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-4">
                        <text> Category</text>
                    </div>
                    <div class="col-sm">
                        <select name="catSearch">
                            <option value="">All</option>
                            @foreach (string cat in category)
                            {
                                <option value="@cat">@cat</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <text> Description</text>
                    </div>
                    <div class="col-sm">
                        <input name="desSearch" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <input class="rounded btn-width" type="submit" value="Search" formaction="/Requisition/NewRequisition?sessionId=@sessionId">
            </div>
        </div>
    </div>
</form>

@if (Model.ToArray().Length == 0)
{
    <h2>No Item Match!</h2>
}
else
{
    <section class="products">

        @foreach (var item in Model)
        {
            <div class="product-card">
                <div class="product-info">
                    <center><img class="cart-img" src="~/Content/Images/@(item.Category).jpg" /></center>
                    <form class="cart-form" method="post">
                        <p class="text-center cart-data"><small>Description : @item.Description</small></p>
                        <p class="text-center cart-data"><small>Measure : @item.UnitOfMeasure</small></p>
                        <p class="text-center cart-data"><small>Quantity : </small>
                            <input class="input-num" type="number" value="@this" min="0" step="1" name="itemQuantity" />
                        </p>
                        <input class="rounded btn-width" type="submit" value="Add" formaction="/Requisition/AddtoCart?itemId=@item.ItemId&sessionId=@sessionId">
                        <input class="rounded btn-width" type="submit" value="Remove" formaction="/Requisition/AddtoCart?itemId=@item.ItemId&sessionId=@sessionId">
                    </form>
                </div>
            </div>
        }
    </section>
}

