@model IEnumerable<SSISTeam9.Models.Cart>
@using SSISTeam9.Models;

@{
    ViewBag.Title = "RequisitionList";
}

<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("New Requisition", "NewRequisition", "Requisition", new { @style = "display:block;padding:.5rem 1rem" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Requisition List", "RequisitionList", "Requisition", new { empId = 1 }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("My Requisition", "MyRequisition", "Requisition", new { empId = 1 }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Department Requisition", "DeptRequisition", "Requisition", new { deptId = 1 }, new { @class = "nav-link" })
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><h6>Logout</h6></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

@{
    if (Model.ToArray().Length == 0)
    {
        <h2>No selected item!</h2>
    }
    else
    {
        <form method="post">
            <p>
                <button class="btnlink" type="submit" formaction="/Requisition/CreateRequisition?empId=1">Create</button>
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.EmpId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.ItemId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>

                @foreach (var cart in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => cart.Employee.EmpId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => cart.Item.ItemId)
                        </td>
                        <td>
                            <input type="number" id="@cart.Item.ItemId" min="0" step="1" value="@cart.Quantity" name="@cart.Item.ItemId" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>
        </form>
    }
}