@model IEnumerable<SSISTeam9.Models.Cart>
@using SSISTeam9.Models;

@{
    ViewBag.Title = "RequisitionList";
    string sessionId = (string)ViewData["sessionId"];
    bool isRep = (bool)ViewData["isRep"];
}

<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header style="padding-bottom: 30px;">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("New Requisition", "NewRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Requisition List", "RequisitionList", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("My Requisition", "MyRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Department Requisition", "DeptRequisition", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
                @if (isRep)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Disbursement List", "RepDisbursementList", "Disbursement", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>

@{
    if (Model.ToArray().Length == 0)
    {
        <h2>No selected item!</h2>
    }
    else
    {
        <h2>Requisition List</h2>
        <hr />
        <form method="post">
            <p>
                <button class="btnlink" type="submit" formaction="/Requisition/CreateRequisition?sessionId=@sessionId">Create Requisition</button>
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.EmpId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.ItemId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>

                @foreach (var cart in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => cart.Employee.EmpId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => cart.Item.ItemId)
                        </td>
                        <td>
                            <input type="number" id="@cart.Item.ItemId" min="0" step="1" value="@cart.Quantity" name="@cart.Item.ItemId" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>
        </form>
    }
}
