@model SSISTeam9.Models.Requisition
@using SSISTeam9.Models
@{
    var requisitions = (List<Requisition>)ViewData["pastRequisitions"];
    var sessionId = (string)ViewData["sessionId"];
}

@{
    if (requisitions.Count == 0)
    {
        <h2>No past requisitions</h2>
    }
    else
    {
        <table class="table table-bordered">
            <tr>
                <th>RequisitionID</th>
                <th>Employee Name</th>
                <th>Requisition Status</th>
            </tr>

            @foreach (var requisition in requisitions)
            {
        <tr>

            <td>@Html.ActionLink(@requisition.ReqId.ToString(), "ViewPastRequisitionDetails", new { reqId = @requisition.ReqId,sessionId=sessionId })</td>
            <td>@requisition.Employee.EmpName</td>
            <td>@requisition.Status</td>
        </tr>
            }
        </table>
    }

}