@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "View All Requisitions";

    var requisitions = (List<Requisition>)ViewData["Reqs"];
    var status = (string)ViewData["status"];
    var alrAssigned = (string)ViewData["alreadyAssigned"];

    var sessionId = ViewData["sessionId"];

}
<link href="../Shared/Tables.css" rel="stylesheet" type="text/css"/>


<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('requisition');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

</script>



    @if (status != "Completed")
    {
        <h2 class="row">Outstanding Requisitions</h2>
    }
    else
    {
        <h2 class="row">Completed Requisitions</h2>
    }
    <div class="row justify-content-between">
        <select onchange="location = this.options[this.selectedIndex].value;">
            <option>Select</option>
            <option value="/Requisition/ViewAllRequisitionsByStatus?status=Outstanding&sessionId=@sessionId">Outstanding</option>
            <option value="/Requisition/ViewAllRequisitionsByStatus?status=Completed&sessionId=@sessionId">Completed</option>
        </select>
        <button class="rounded" type="submit" onclick="location.href='@Url.Action("ViewRetrievalForm", "RetrievalForm", new { sessionId = sessionId })'">View Retrieval Form</button>
    </div>


    @if (requisitions != null)
    {
        <form class="row" action="/RetrievalForm/CreateRetrievalForm?sessionId=@sessionId" method="post">
            @if (status != "Completed" && alrAssigned == "NO")
            {
                <input type="submit" value="Assign to Collection" />
            }
            <table class="table table-bordered">
                <tr>
                    
                        @if (status != "Completed" && alrAssigned == "NO")
                        {<th>
                            <input type="checkbox" onClick="toggle(this)" />
                        </th>
                         }
                    <th>Requisition Id</th>
                    <th>Department</th>
                    <th>Date of Request</th>
                </tr>
                @foreach (var req in requisitions)
                {
                    <tr>
                            @if (req.Status != "Completed" && alrAssigned == "NO")
                            {
                                <td>
                                <input type="checkbox" name="requisition" value="@req.ReqId">
                                </td>
                            }
                      
                        <td><a href="/Requisition/GetRequisitionDetails?reqId=@req.ReqId">@req.ReqCode</a></td>
                        <td>@req.Employee.Department.DeptCode</td>
                        <td>@req.DateOfRequest</td>
                    </tr>
                }
            </table>
        </form>
    }
    else
    {
        <div style="text-align:center">No Requisitions to Display</div>
    }



