@using SSISTeam9.Models;
@{
    var requisitions = (List<Requisition>)ViewData["Reqs"];
    var status = (string)ViewData["status"];
    var alrAssigned = (string)ViewData["alreadyAssigned"];

    var sessionId = ViewData["sessionId"];

}
<link href="../Shared/Tables.css" rel="stylesheet" type="text/css"/>


<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('requisition');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

</script>


<select onchange="location = this.options[this.selectedIndex].value;">
    <option>Select</option>
    <option value="/Requisition/ViewAllRequisitionsByStatus?status=Outstanding&sessionId=@sessionId">Outstanding</option>
    <option value="/Requisition/ViewAllRequisitionsByStatus?status=Completed&sessionId=@sessionId">Completed</option>
</select>

@if (status != "Completed")
{
    <h2>Outstanding Requisitions</h2>
}
else
{
    <h2>Completed Requisitions</h2>
}

    <button type="submit" onclick="location.href='@Url.Action("ViewRetrievalForm", "RetrievalForm", new { sessionId = sessionId })'">View Retrieval Form</button>






@if (requisitions != null)
{
    <form action="/RetrievalForm/CreateRetrievalForm?sessionId=@sessionId" method="post">
        @if (status != "Completed" && alrAssigned == "NO")
        {
            <input type="submit" value="Assign to Collection" />
        }
        <table>
            <tr>
                <th>
                    @if (status != "Completed" && alrAssigned == "NO")
                    {<input type="checkbox" onClick="toggle(this)" />
                    }
                </th>
                <th>Requisition Id</th>
                <th>Department</th>
                <th>Date of Request</th>
            </tr>
            @foreach (var req in requisitions)
            {
                <tr>

                    <td>
                        @if (req.Status != "Completed" && alrAssigned == "NO")
                        {
                            <input type="checkbox" name="requisition" value="@req.ReqId">
                        }
                    </td>
                    <td><a href="/Requisition/GetRequisitionDetails?reqId=@req.ReqId">@req.ReqCode</a></td>
                    <td>@req.Employee.Department.DeptCode</td>
                    <td>@req.DateOfRequest</td>
                </tr>
            }
        </table>
    </form>
}
else
{
    <div>No Requisitions to Display</div>
}



