@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Supplier List";
    List<Supplier> suppliers = (List<Supplier>)ViewData["suppliers"];

    string sessionId = (string)ViewData["sessionId"];
}

<h3>Suppliers</h3>

@if (suppliers.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No suppliers to display</p>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Supplier Code</th>
            <th>Supplier Name</th>
            <th>GST Registration Number</th>
            <th>Address</th>
            <th>Contact Name</th>
            <th>Phone Number</th>
            <th>Fax Number</th>
        </tr>
        @foreach (var supplier in suppliers)
        {
            <tr>
                <td><a href="/Supplier/DisplaySupplierDetails?supplierCode=@supplier.SupplierCode&sessionId=@sessionId">@supplier.SupplierCode</a></td>
                <td>@supplier.Name</td>
                <td>@supplier.GstNumber</td>
                <td>@supplier.Address</td>
                <td>@supplier.ContactName</td>
                <td>@supplier.PhoneNumber</td>
                <td>@supplier.FaxNumber</td>
            </tr>
        }
    </table>
    <input class="rounded" type="button" value="Create New Supplier" style="float:right" onclick="location.href='@Url.Action("CreateForm","Supplier", routeValues: new { sessionid = sessionId })'">
}

