@model SSISTeam9.Models.Supplier

<h2>Create New Supplier</h2>

<div>
    @using (Html.BeginForm("CreateNew", "Supplier", FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.SupplierCode) </td>
                <td>@Html.TextBoxFor(m => m.SupplierCode, new { id = "supplierCode" })</td>
                <td>@Html.ValidationMessageFor(m => m.SupplierCode, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Name) </td>
                <td>@Html.TextBoxFor(m => m.Name, new { id = "supplierName" })</td>
                <td>@Html.ValidationMessageFor(m => m.Name, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.GstNumber) </td>
                <td>@Html.TextBoxFor(m => m.GstNumber, new { id = "gstNumber" })</td>
                <td>@Html.ValidationMessageFor(m => m.GstNumber, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Address) </td>
                <td>@Html.TextBoxFor(m => m.Address, new { id = "address" })</td>
                <td>@Html.ValidationMessageFor(m => m.Address, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ContactName) </td>
                <td>@Html.TextBoxFor(m => m.ContactName, new { id = "contactName" })</td>
                <td>@Html.ValidationMessageFor(m => m.ContactName, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.PhoneNumber) </td>
                <td>@Html.TextBoxFor(m => m.PhoneNumber, new { id = "phoneNumber" })</td>
                <td>@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FaxNumber) </td>
                <td>@Html.TextBoxFor(m => m.FaxNumber, new { id = "faxNumber" })</td>
                <td>@Html.ValidationMessageFor(m => m.FaxNumber, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="Save"></td>
            </tr>
        </table>


    }

</div>

<style>
    td {
        padding: 2px;
    }

    tr {
        height: 40px;
        padding: 2px;
    }
</style>