@model SSISTeam9.Models.Delegate
@using SSISTeam9.Models
@{
    var employees = (List<Employee>)ViewData["employees"];
    var sessionId = (string)ViewData["sessionId"];
    var filtered = new List<Employee>();
    var showAll = (bool)ViewData["all"];
    var currentHead = (Employee)ViewData["currentHead"];
    var delegated = (bool)ViewData["delegated"];
    foreach (var emp in employees)
    {
        if (emp.EmpRole != "REPRESENTATIVE")
        {
            filtered.Add(emp);
        }
    }
}
<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header style="padding-bottom: 30px;">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (showAll)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Pending Requisitions", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    
                }
                @if (!showAll)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>
<h2>Delegate</h2>
@if (!delegated)
{
    using (Html.BeginForm("ViewDelegate", "Delegate", FormMethod.Post, new { sessionId = sessionId }))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" name="sessionId" value="@sessionId" />
        <div class="container">
            <div class="row mt-3">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(x => x.FromDate)
                        </div>
                        <div class="col">
                            @Html.TextBoxFor(x => x.FromDate, new { type = "date" })
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    @Html.ValidationMessageFor(x => x.FromDate, "", new { style = "color:red" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(x => x.ToDate)
                        </div>
                        <div class="col">
                            @Html.TextBoxFor(x => x.ToDate, new { type = "date" })
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    @Html.ValidationMessageFor(x => x.ToDate, "", new { style = "color:red" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(x => x.Employee)
                        </div>
                        <div class="col">
                            @Html.DropDownListFor(x => x.Employee.EmpId, filtered.Select(e => new SelectListItem { Text = e.EmpName, Value = e.EmpId.ToString() }))
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <input class="rounded btn-width btn-success" type="submit" value="Delegate" />
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    }
}
else
{
<form method="post" action="@Url.Action("ViewDelegate","Delegate",new { })">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row mt-3">
                    <div class="col">
                        Current Delegated Employee
                    </div>
                    <div class="col">
                        @currentHead.EmpName
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row mt-2">
                    <div class="col">
                    </div>
                    <div class="col">
                        <button onclick="alert('Remove Success!')" class="rounded btn-width btn-danger" type="submit" formaction="/Delegate/ViewDelegate?delegatedhead=@currentHead.EmpId&sessionId=@sessionId">Remove</button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</form>
}




<script>
    function checkDate() {
        var from = document.getElementById("FromDate").value;
        var to = document.getElementById("ToDate").value;
        if (Date.parse(from) >= Date.parse(to)) {
            alert("To Date must be greater than From Date")
            document.getElementById("ToDate").value = "";
        }
    }
    document.getElementById("ToDate").addEventListener("change", function (e) {
        e.preventDefault();
        checkDate();
    });
</script>



