@using SSISTeam9.Models
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "ViewRetrievalForm";
}

@{
    var retForms = (List<RetrievalForm>)ViewData["retrievalForms"];
    var alrAssigned = (string)ViewData["alreadyAssigned"];
    var sessionId = (string)ViewData["sessionId"];

}

<h2>Retrieval Form</h2>
@if (retForms.Count != 0 && alrAssigned == "NO")
{
    <table class="table table-bordered">
        <tr>
            <th rowspan="2">Bin #</th>
            <th rowspan="2">Stationary Description</th>
            <th colspan="2">Total Quantity</th>
            <th colspan="3">BreakDown By Department</th>


        </tr>
        <tr>
            <th>Needed</th>
            <th>Retrieved</th>
            <th>Dept Name</th>
            <th>Needed</th>
            <th>Actual</th>
        </tr>
        @foreach (var retForm in retForms)
        {
            <tr>
                <td rowspan="@retForm.deptNeeds.Count">@retForm.binNo</td>
                <td rowspan="@retForm.deptNeeds.Count">@retForm.description</td>
                <td rowspan="@retForm.deptNeeds.Count">@retForm.totalNeeded</td>
                <td rowspan="@retForm.deptNeeds.Count" id="/@retForm.itemId">@retForm.itemId</td>
                <td>@retForm.deptNeeds[0].deptCode</td>
                <td>@retForm.deptNeeds[0].deptNeeded</td>
                <td><input type="number" class="@retForm.itemId" name="@retForm.deptNeeds[0].deptId" value="@retForm.deptNeeds[0].deptNeeded" onchange="findTotal(@retForm.itemId)" min="0" /></td>
            </tr>
            for (int i = 1; i < retForm.deptNeeds.Count; i++)
            {
                <tr>
                    <td>@retForm.deptNeeds[i].deptCode</td>
                    <td>@retForm.deptNeeds[i].deptNeeded</td>
                    <td><input type="number" class="@retForm.itemId" name="@retForm.deptNeeds[i].deptId" value="@retForm.deptNeeds[i].deptNeeded" onchange="findTotal(@retForm.itemId)" min="0" /></td>
                </tr>
            }

        }
    </table>
    <div class="row justify-content-end">
        <input type="date" name="date" id="collectionDate" required />
        <input class="btn-success rounded" type="button" value="Submit" onclick="submitData()" />
    </div>
    
}
else if(retForms.Count != 0 && alrAssigned == "YES")
{
    <div style="text-align:center">Items already retrieved</div>
}
else
{
    <div style="text-align:center">No items to retrieve</div>
}



<script type="text/javascript">
    var jsRetForms = @Html.Raw(Json.Encode(ViewData["retrievalForms"]));

    function findAllTotal() {
        for (var retForm of jsRetForms) {

            findTotal(retForm["itemId"]);
        }
    }

    function findTotal(id) {
        var arr = document.getElementsByClassName(id);
        var tot = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseInt(arr[i].value))
                tot += parseInt(arr[i].value);
        }
        document.getElementById("/" + id).innerHTML = tot;
    }

    window.onload = findAllTotal();

    function submitData() {
        var deptCodes = new Array();
        for (var retForm of jsRetForms) {
            for (retF of retForm["deptNeeds"]) {
                if (deptCodes.includes(retF["deptId"])) {

                }
                else {
                    deptCodes.push(retF["deptId"])
                }
            }

        }//this returns arrays deptCodes

        var collectionDate = document.getElementById("collectionDate").value
        var listOfLists = new Array();
        for (var i = 0; i < deptCodes.length; i++) {
            var listPerDeptCode = document.getElementsByName(deptCodes[i])
            for (var item of listPerDeptCode) {
                var list = { deptId: deptCodes[i], itemId: item.className, quantity: item.value, collectionDate: collectionDate }
                listOfLists.push(list)
            }
        }


        $.ajax({
            type: 'POST',
            url: "@Url.Action("CreateDisbursementLists", "Disbursement", new { sessionId = sessionId })",
            contentType: 'application/json; charset=utf-8', // specify the content type
            dataType: 'JSON', // make sure you use the correct case for dataType
            data: JSON.stringify(listOfLists),
            success: function (data) {
                window.location.href = data;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>