@model SSISTeam9.Models.Inventory

@using SSISTeam9.Models;
@{
    ViewBag.Title = "View All Inventory Items";
    List<Inventory> items = (List<Inventory>)ViewData["items"];
    var counter = 0;
}

<h2>Stock</h2>

@if (items.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No items to display</p>
}
else
{
    using (Html.BeginForm("EnterQuantities", "Stock", FormMethod.Post))
    {
        <table>
            <tr>
                <th>Check Item to Order</th>
                <th>Item Code</th>
                <th>Category</th>
                <th>Description</th>
                <th>Unit of Measure</th>
                <th>Stock Level</th>
            </tr>
            @foreach (var item in items)
            {
            <tr>
                @if (item.StockLevel < item.ReorderLevel)
                {
                    <td>@Html.CheckBoxFor(m => m.checkedItems[counter], new { id = "selectedOrderItem" })</td>
                    <td style="color:red">@item.ItemCode</td>
                    <td style="color:red">@item.Category</td>
                    <td style="color:red">@item.Description</td>
                    <td style="color:red">@item.UnitOfMeasure</td>
                    <td style="color:red">@item.StockLevel</td>
                }
                else
                {
                    <td>@Html.CheckBoxFor(m => m.checkedItems[counter], new { id = "selectedOrderItem" })</td>
                    <td>@item.ItemCode</td>
                    <td>@item.Category</td>
                    <td>@item.Description</td>
                    <td>@item.UnitOfMeasure</td>
                    <td>@item.StockLevel</td>
                }
            </tr>
                counter = counter + 1;
            }
            <tr>
                <td colspan="6" align="right"><input type="submit" value="Generate Purchase Orders"></td>
            </tr>
        </table>
    }
}

<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
