@model List<SSISTeam9.Models.Inventory>

@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Stock Check";
    List<Inventory> inventories = (List<Inventory>)ViewData["inventories"];
    var sessionId = (string)ViewData["sessionId"];
}

<h2 style="text-align:center">Stock Check</h2>

@if (inventories.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No catalogues to display</p>
}
else
{
    @*<table align="center">
        <tr align="center">
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit Of Measure</th>
            <th>Last Stock</th>
            <th>Actual Stock</th>
        </tr>
        @using (Html.BeginForm("Generate", "Stock", FormMethod.Post))
                {
                    for (int i = 0; i < inventories.Count; i++)
                    {
                        <tr align="center">
                            <td>@inventories[i].ItemCode</td>
                            <td>@inventories[i].Category</td>
                            <td>@inventories[i].Description</td>
                            <td>@inventories[i].UnitOfMeasure</td>
                            <td>@inventories[i].StockLevel</td>
                            <td>@Html.TextBoxFor(x => x[i].ActualStock, new { id = "actualStock", @Value = inventories[i].StockLevel })</td>
                            <td style="display:none">
                                @Html.TextBoxFor(x => x[i].ItemId, new { id = "itemId", @Value = inventories[i].ItemId })
                                @Html.TextBoxFor(x => x[i].StockLevel, new { id = "stockLevel", @Value = inventories[i].StockLevel })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td align="right"><input type="submit" value="Generate Adjustment Voucher"></td>
                    </tr>
                }

        </table>*@

    using (Html.BeginForm("Index", "AdjVoucher", Model, FormMethod.Post))
    {
        <table class="table table-bordered">
            
            <thead>
            <tr align="center">
                <th>Item Number</th>
                <th>Category</th>
                <th>Description</th>
                <th>Unit Of Measure</th>
                <th>Last Stock</th>
                <th>Actual Stock</th>
            </tr>

            </thead>
            
            <tbody>
            
            @if (Model != null)
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => Model[i].ItemCode)</td>
                        <td>@Html.DisplayFor(x => Model[i].Category)</td>
                        <td>@Html.DisplayFor(x => Model[i].Description)</td>
                        <td>@Html.DisplayFor(x => Model[i].UnitOfMeasure)</td>
                        <td>@Html.DisplayFor(x => Model[i].StockLevel)</td>
                        <td>@Html.TextBoxFor(x => Model[i].ActualStock, new {@Value = Model[i].StockLevel})</td>
                        <td >
                            @Html.HiddenFor(x => Model[i].ItemCode)
                            @Html.HiddenFor(x => Model[i].ItemId)
                            @Html.HiddenFor(x => Model[i].StockLevel)
                            @Html.HiddenFor(x => Model[i].Description)
                            @Html.HiddenFor(x => Model[i].UnitOfMeasure)
                            @Html.HiddenFor(x => Model[i].Category)
                        </td>
                    </tr>
                }
            }


            </tbody>


        </table>
        <input class="rounded" type="submit" value="Generate Adjustment Voucher" />
    }

}

