@using SSISTeam9.Models
@{
    ViewBag.Title = "ViewDisbursementDetails";
}

@{
    var details = (List<DisbursementListDetails>)ViewData["details"];
    var listId = (long)ViewData["listId"];
    var collectionPoint = (string)ViewData["collectionPt"];
    var sessionId = (string)ViewData["sessionId"];
    var status = (string)ViewData["status"];
}
<h2>List Id: @listId</h2>
<table class="table table-bordered">
    <tr>
        <th>Item Description</th>
        <th>Quantity</th>
        <th>Disbursed Quantity</th>
    </tr>
    @foreach (var detail in details)
    {
        <tr>
            <td>@detail.Item.Description</td>
            <td>@detail.Quantity</td>
            @if (status == "")
            {
                <td><input type="number" class="input" name="@detail.Item.ItemId" value="@detail.Quantity" /></td>
            }
            else
            {
                <td>@detail.Quantity</td>
            }



        </tr>
    }
</table>
@if (status == "")
{
    <input type="button" value="Disburse items" onclick="submitData()" />
}




<script type="text/javascript">


    function submitData()
    {
        var items = document.getElementsByClassName("input")
        var listOfLists = new Array();
        for (item of items)
        {
            var list = { itemId: item.name, quantity: item.value }
            listOfLists.push(list)
        }



        $.ajax({
            type: 'POST',
            url: "@Html.Raw(Url.Action("UpdateDisbursementLists", "Disbursement", new { listId = listId, collectionPt= collectionPoint, sessionId = sessionId}))",
            contentType: 'application/json; charset=utf-8', // specify the content type
            dataType: 'JSON', // make sure you use the correct case for dataType
            data: JSON.stringify(listOfLists),
            success: function (data) {
                window.location.href = data;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>