@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Catalogue List";
    List<Inventory> catalogues = (List<Inventory>)ViewData["catalogues"];
    string sessionId = (string)ViewData["sessionId"];
    List<String> category = (List<String>)ViewData["category"];
}

<h2 style="text-align:center">Catalogues List</h2>
<a class="btn btn-light" href="javascript:window.print()">Print Catalogues</a>

<form class="form-inline" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-4">
                        <text> Category</text>
                    </div>
                    <div class="col-sm">
                        <select name="catSearch">
                            <option value="">All</option>
                            @foreach (string cat in category)
                            {
                                <option value="@cat">@cat</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <text> Description</text>
                    </div>
                    <div class="col-sm">
                        <input name="desSearch" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <input class="rounded btn-width" type="submit" value="Search" formaction="/Catalogue/All?sessionId=@sessionId">
            </div>
        </div>
    </div>
</form>

@if (catalogues.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No catalogues to display</p>
}
else
{
    <table align="center" class="table table-bordered">
        <tr>
            <td><input type="button" value="Create New Catalogue" style="background-color:forestgreen; color:white" onclick="location.href='@Url.Action("Create","Catalogue", routeValues: new { sessionid = sessionId })'"></td>
        </tr>
        <tr align="center">
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit Of Measure</th>
        </tr>
        @foreach (var c in catalogues)
        {
            <tr align="center">
                <td><a href="/Catalogue/Details?itemId=@c.ItemId&sessionId=@sessionId">@c.ItemCode </a></td>
                <td>@c.Category</td>
                <td>@c.Description</td>
                <td>@c.UnitOfMeasure</td>
                <td style="display:none;">
                    @Html.Hidden("supplierId", c.ItemId)
                </td>
            </tr>
        }
    </table>
}

