@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Catalogue";
    List<Inventory> catalogues = (List<Inventory>)ViewData["catalogues"];
    string sessionId = (string)ViewData["sessionId"];
    List<String> category = (List<String>)ViewData["category"];
}

<h3>Catalogue</h3>
<a class="btn btn-light" href="javascript:window.print()" style="float:right">Print Catalogue</a>

<form class="form-inline" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div style="margin-right:25px">
                        <text>By Category: </text>
                    </div>
                    <div>
                        <select name="catSearch">
                            <option value="">All</option>
                            @foreach (string cat in category)
                            {
                                <option value="@cat">@cat</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label for="desSearch" style="text-align:center;margin-top:10px">By Description: </label>
    <input id="desSearch" name="desSearch" type="text" style="margin-left:10px;margin-top:10px;text-align:left">
    <input class="rounded btn-width" style="margin-left:10px;margin-top:10px;text-align:center" type="submit" value="Search" formaction="/Catalogue/All?sessionId=@sessionId">
</form>

@if (catalogues.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No items to display</p>
}
else
{
    <input type="button" value="Create New Catalogue" class="rounded" style="float:right;margin-bottom:10px" onclick="location.href='@Url.Action("Create","Catalogue", routeValues: new { sessionid = sessionId })'">
    <table align="center" class="table table-bordered">
        <tr align="center">
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit Of Measure</th>
        </tr>
        @foreach (var c in catalogues)
        {
            <tr align="center">
                <td><a href="/Catalogue/Details?itemId=@c.ItemId&sessionId=@sessionId">@c.ItemCode </a></td>
                <td>@c.Category</td>
                <td>@c.Description</td>
                <td>@c.UnitOfMeasure</td>
                <td style="display:none;">
                    @Html.Hidden("supplierId", c.ItemId)
                </td>
            </tr>
        }
    </table>
}

