@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Catalogue List";
    List<Inventory> catalogues = (List<Inventory>)ViewData["catalogues"];
    string sessionId = (string)ViewData["sessionId"];
}

<h2 style="text-align:center">Catalogues List</h2>
<a class="btn btn-light"  href="javascript:window.print()">Print Catalogues</a>

@if (catalogues.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No catalogues to display</p>
}
else
{
    <table align="center" class="table table-bordered">
        <tr>
            <td><input type="button" value="Create New Catalogue" style="background-color:forestgreen; color:white" onclick="location.href='@Url.Action("Create","Catalogue", routeValues: new { sessionid = sessionId })'"></td>
        </tr>
        <tr align="center">
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit Of Measure</th>
        </tr>
        @foreach (var c in catalogues)
        {
            <tr align="center">
                <td><a href="/Catalogue/Details?itemId=@c.ItemId&sessionId=@sessionId">@c.ItemCode </a></td>
                <td>@c.Category</td>
                <td>@c.Description</td>
                <td>@c.UnitOfMeasure</td>
                <td>
                    @Html.Hidden("supplierId", c.ItemId)
                </td>
            </tr>
        }
    </table>
}

