@model SSISTeam9.Models.Inventory

@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Create New Catalogue";
    List<string> unitsOfMeasure = (List<string>)ViewData["unitsOfMeasure"];
    List<string> categories = (List<string>)ViewData["categories"];
    string sessionId = (string)ViewData["sessionId"];
}

<h2>Create New Catalogue</h2>

<div>
    @using (Html.BeginForm("CreateCatalogue", "Catalogue", routeValues: new { sessionid = sessionId }, method: FormMethod.Post))
    {
        <table class="table table-bordered">
            <tr>
                <td>@Html.LabelFor(x => x.ItemCode): </td>
                <td>
                    @Html.TextBoxFor(x => x.ItemCode, new { id = "itemCode", @class = "TextBox" })
                    @Html.ValidationMessageFor(x => x.ItemCode, "", new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Category): </td>
                <td>
                    <div>
                        <select name="category" id="category" class="TextBox">
                            @foreach (string category in categories)
                            {
                                <option>@category</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Description): </td>
                <td>
                    @Html.TextBoxFor(x => x.Description, new { id = "description", @class = "TextBox" })
                    @Html.ValidationMessageFor(x => x.Description, "", new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.UnitOfMeasure): </td>
                <td>
                    <div>
                        <select name="unitOfMeasure" id="unitOfMeasure" class="TextBox">
                            @foreach (string unitOfMeasure in unitsOfMeasure)
                            {
                                <option>@unitOfMeasure</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.BinNo): </td>
                <td>
                    @Html.TextBoxFor(x => x.BinNo, new { id = "binNo", @class = "TextBox" })
                    @Html.ValidationMessageFor(x => x.BinNo, "", new { style = "color:red" })
                </td>
            </tr>
        </table>
        
        <input class="btn btn-success rounded" type="submit" value="Create and Next" style="float:right">
    }

</div>

@Html.Raw(TempData["errorMsg"])

<style>
    td {
        padding: 2px;
    }

    tr {
        height: 40px;
        padding: 2px;
    }
    .TextBox{
        width: 250px;
    }
</style>