@model SSISTeam9.Models.PriceList

@{
    List<string> supplierNames = (List<string>)ViewData["supplierNames"];
    long itemId = (long)ViewData["itemId"];
}

<h2>Create New Price List</h2>
<div>
    @using (Html.BeginForm("CreatePriceList", "Catalogue", new { ItemId = itemId }, FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier1Name): </td>
                <td>
                    <div>
                        <select name="supplier1Name" id="supplier1Name" class="TextBox">
                            @foreach (string supplierName in supplierNames)
                            {
                                <option>@supplierName</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier1UnitPrice): </td>
                <td>@Html.TextBoxFor(x => x.Supplier1UnitPrice, new { id = "supplier1UnitPrice", @class = "TextBox" })</td>
                <td>@Html.ValidationMessageFor(x => x.Supplier1UnitPrice, "", new { style = "color:red" })</td>
            </tr>
            
            <tr>
                <td>@Html.LabelFor(x => x.Supplier2Name): </td>
                <td>
                    <div>
                        <select name="supplier2Name" id="supplier2Name" class="TextBox">
                            @foreach (string supplierName in supplierNames)
                            {
                                <option>@supplierName</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier2UnitPrice): </td>
                <td>@Html.TextBoxFor(x => x.Supplier2UnitPrice, new { id = "supplier2UnitPrice", @class = "TextBox" })</td>
                <td>@Html.ValidationMessageFor(x => x.Supplier2UnitPrice, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier3Name): </td>
                <td>
                    <div>
                        <select name="supplier3Name" id="supplier3Name" class="TextBox">
                            @foreach (string supplierName in supplierNames)
                            {
                                <option>@supplierName</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier3UnitPrice): </td>
                <td>@Html.TextBoxFor(x => x.Supplier3UnitPrice, new { id = "supplier3UnitPrice", @class = "TextBox" })</td>
                <td>@Html.ValidationMessageFor(x => x.Supplier3UnitPrice, "", new { style = "color:red" })</td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><input type="submit" value="Save Create" style="background-color:green;color:white;"></td>
            </tr>
        </table>


    }

</div>

@Html.Raw(TempData["errorMsg"])

<style>
    td {
        padding: 2px;
    }

    tr {
        height: 40px;
        padding: 2px;
    }

    .TextBox {
        width: 250px;
    }
</style>