@model SSISTeam9.Models.Inventory

@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Catalogue Details";
    Inventory catalogue = (Inventory)ViewData["catalogue"];
    PriceList pricelist = (PriceList)ViewData["pricelist"];

    string sessionId = (string)ViewData["sessionId"];
}

<h2 style="text-align:center">Catalogue Details</h2>

<section>
    <div>
        <p>
            Item Code: @catalogue.ItemCode<br />
            Category: @catalogue.Category<br />
            Description: @catalogue.Description<br />
            Unit Of Measure: @catalogue.UnitOfMeasure<br />
        </p>

        <table class="table table-bordered" style="text-align:center">
            <tr>
                <th>Supplier's Name</th>
                <th>Price</th>
            </tr>
            @if (pricelist != null)
            {
                <tr>
                    <td>First Supplier: @pricelist.Supplier1Name</td>
                    <td>$@pricelist.Supplier1UnitPrice</td>
                </tr>
                <tr>
                    <td>Second Supplier: @pricelist.Supplier2Name</td>
                    <td>$@pricelist.Supplier2UnitPrice</td>
                </tr>
                <tr>
                    <td>Thrid Supplier: @pricelist.Supplier3Name</td>
                    <td>$@pricelist.Supplier3UnitPrice</td>
                </tr>

            }
        </table>
            <input class="btn btn-success rounded" type="button" value="Update" style="float:right" onclick="location.href='@Url.Action("Update","Catalogue", new { itemId = catalogue.ItemId, sessionid = sessionId})'">
            <button class=" btn btn-danger rounded" style="float:right;margin-right:10px">
                @Html.ActionLink("Delete","Delete","Catalogue",
                new { confirm = true, itemId = catalogue.ItemId, sessionid = sessionId },
                new { Style = "color:White;", onclick = "return confirm('Do you really want to delete this Catalogue?')" })
            </button>
        </div>
</section>

<style>
    td {
        width: 35%;
    }
    .button{
        width:35%;
        padding:2%;
        margin-left:20px;
    }
</style>