@model SSISTeam9.Models.Inventory

@using SSISTeam9.Models;
@{
    Inventory catalogue = (Inventory)ViewData["catalogue"];
    PriceList pricelist = (PriceList)ViewData["pricelist"];
}

<h2 style="text-align:center">Catalogue Details</h2>

<section>
    <div>
        <p>
            Item Code: @catalogue.ItemCode<br />
            Category: @catalogue.Category<br />
            Description: @catalogue.Description<br />
            Unit Of Measure: @catalogue.UnitOfMeasure<br />
        </p>
        
            @if (pricelist != null)
            {   
                <table>
                    <tr>
                        <td>First Supplier's Name: @pricelist.Supplier1Name</td>
                        <td>Price: $@pricelist.Supplier1UnitPrice</td>
                    </tr>
                    <tr>
                        <td>Second Supplier's Name: @pricelist.Supplier2Name</td>
                        <td>Price: $@pricelist.Supplier2UnitPrice</td>
                    </tr>
                    <tr>
                        <td>Thrid Supplier's Name: @pricelist.Supplier3Name</td>
                        <td>Price: $@pricelist.Supplier3UnitPrice</td>
                    </tr>
                </table>
            }


        <div class="button">
            <input type="button" value="Update" style="margin-left:10px; background-color:darkorange; color:white" onclick="location.href='@Url.Action("Update","Catalogue", new { itemId = catalogue.ItemId})'">
            <button style="background-color:red;">
                @Html.ActionLink("Delete","Delete","Catalogue",
                new { confirm = true, itemId = catalogue.ItemId },
                new { Style = "color:White;", onclick = "return confirm('Do you really want to delete this Catalogue?')" })
            </button>
        </div>
    </div>
</section>

<style>
    td {
        width: 35%;
    }
    .button{
        width:35%;
        padding:2%;
        margin-left:20px;
    }
</style>