@model SSISTeam9.Models.PriceList

@using SSISTeam9.Models;
@{
    PriceList pricelist = (PriceList)ViewData["pricelist"];
    List<string> supplierNames = (List<string>)ViewData["supplierNames"];
    long itemId = (long)ViewData["itemId"];
    string sessionId = (string)ViewData["sessionId"];
}


<h2>Update Price List</h2>
<div>
    @using (Html.BeginForm("UpdatePriceList", "Catalogue", new { ItemId = itemId, sessionId = sessionId }, FormMethod.Post))
    {
        <table class="table table-bordered">
            <tr>
                <td>@Html.LabelFor(x => x.Supplier1Name): </td>
                <td>
                    <div>
                        <select name="supplier1Name" id="supplier1Name" class="TextBox">
                            @if (pricelist.Supplier1Name != null)
                            {
                                <option>@pricelist.Supplier1Name</option>
                            }
                            @foreach (string supplierName in supplierNames)
                            {
                                if (supplierName != pricelist.Supplier1Name)
                                {
                                    <option>@supplierName</option>
                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier1UnitPrice): </td>
                <td>
                    @Html.TextBoxFor(x => x.Supplier1UnitPrice, new { id = "supplier1UnitPrice", @Value = pricelist.Supplier1UnitPrice, @class = "TextBox" })
                    @Html.ValidationMessageFor(x => x.Supplier1UnitPrice, "", new { style = "color:red" })
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.Supplier2Name): </td>
                <td>
                    <div>
                        <select name="supplier2Name" id="supplier2Name" class="TextBox">
                            @if (pricelist.Supplier2Name != null)
                            {
                                <option>@pricelist.Supplier2Name</option>
                            }
                            @foreach (string supplierName in supplierNames)
                            {
                                if (supplierName != pricelist.Supplier2Name)
                                {
                                    <option>@supplierName</option>
                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier2UnitPrice): </td>
                <td>
                    @Html.TextBoxFor(x => x.Supplier2UnitPrice, new { id = "supplier2UnitPrice", @Value = pricelist.Supplier2UnitPrice, @class = "TextBox" })
                    @Html.ValidationMessageFor(x => x.Supplier2UnitPrice, "", new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier3Name): </td>
                <td>
                    <div>
                        <select name="supplier3Name" id="supplier3Name" class="TextBox">
                            @if (pricelist.Supplier3Name != null)
                            {
                                <option>@pricelist.Supplier3Name</option>
                            }
                            @foreach (string supplierName in supplierNames)
                            {
                                if (supplierName != pricelist.Supplier3Name)
                                {
                                    <option>@supplierName</option>
                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Supplier3UnitPrice): </td>
                <td>
                    @Html.TextBoxFor(x => x.Supplier3UnitPrice, new { id = "supplier3UnitPrice", @Value = pricelist.Supplier3UnitPrice, @class = "TextBox" })
                    @Html.ValidationMessageFor(x => x.Supplier3UnitPrice, "", new { style = "color:red" })
                </td>
            </tr>
        </table>
        <input class="btn btn-success rounded" type="submit" value="Save Update" style="float:right">

    }

</div>

@Html.Raw(TempData["errorMsg"])

<style>
    td {
        padding: 2px;
    }

    tr {
        height: 40px;
        padding: 2px;
    }

    .TextBox {
        width: 250px;
    }
</style>