@model SSISTeam9.Models.Employee
@using SSISTeam9.Models
@{
    var employees = (List<Employee>)ViewData["employees"];
    var repEmp = new Employee();
    var sessionId = (string)ViewData["sessionId"];
    var showAll = (bool)ViewData["all"];
    var permanentHead = (bool)ViewData["permanentHead"];
    foreach (var employee in employees)
    {
        if (employee.EmpRole.Equals("REPRESENTATIVE"))
        {
            repEmp = employee;
        }
    }
}
<link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
<header style="padding-bottom: 30px;">
    <!-- Fixed navbar -->
    <nav class="dptnavbar navbar navbar-expand-md navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (showAll && permanentHead)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Pending Requisitions", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
                else if (!showAll && permanentHead)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Delegate", "ViewDelegate", "Delegate", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
                else if (!showAll && !permanentHead)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Pending Requisitions", "GetPendingRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Past Requisitions", "ViewPastRequisitions", "Requisition", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Change Representative", "ChangeRepresentative", "Representative", new { sessionId = sessionId }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    @Html.ActionLink("Logout", "Logout", "Home", new { sessionId = sessionId }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</header>
<h2>Change Representative</h2>

<form action="~/Representative/ChangeRepresentative" method="post">
    <input type="hidden" value="@sessionId" name="sessionId" />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row mt-3">
                    <div class="col-sm">
                        <span>Current Representative</span>
                    </div>
                    <div class="col-sm">
                        <span>@repEmp.EmpName</span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row mt-3">
                    <div class="col-sm">
                        <p>Employee Name</p>
                    </div>
                    <div class="col-sm">
                        <select name="employee" id="empList">
                            @foreach (var employee in employees)
                            {
                                if (repEmp != employee)
                                {
                                    <option value="@employee.EmpId">@employee.EmpName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row mt-1">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        <button onclick="alert('Change Representative Success!')" class="rounded btn-width btn-success" type="submit" id="">Change</button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</form>
