@using SSISTeam9.Models;
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "Inventory Adjustment Voucher";
    List<AdjVoucher> adjVouchers = (List<AdjVoucher>)ViewData["adjVouchers"];
    string sessionId = (string)ViewData["sessionId"];
    string authoriseBy = (string)ViewData["authoriseBy"];
    double total = 0;
}

<h2>Pending Authorisation by @authoriseBy</h2>

@if (adjVouchers.Count == 0)
{
    <br /><br />
    <p style="font-size:14px">No adjustment voucher to display</p>
}
else
{
    <table class="table table-bordered" align="center">
        <tr align="center">
            <th>Item Code</th>
            <th>Description</th>
            <th>Quantity adjusted</th>
            <th>Reason</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
        @for (int i = 0; i < adjVouchers.Count; i++)
        {
            <tr style="text-align:center">
                <td>@adjVouchers[i].ItemCode</td>
                <td>@adjVouchers[i].Item.Description</td>
                <td>@adjVouchers[i].AdjQty</td>
                <td>@adjVouchers[i].Reason</td>
                <td>@(adjVouchers[i].Item.ItemSuppliersDetails.Supplier1UnitPrice.ToString("C2") + "/" + adjVouchers[i].Item.UnitOfMeasure)</td>
                <td>@(Math.Abs(adjVouchers[i].Item.ItemSuppliersDetails.Supplier1UnitPrice * adjVouchers[i].AdjQty).ToString("C2"))</td>
            </tr>
            total = total + Math.Abs(adjVouchers[i].Item.ItemSuppliersDetails.Supplier1UnitPrice * adjVouchers[i].AdjQty);
        }
        <tr>
            <td colspan="5" style="text-align:right;font-weight:bold">Total:</td>
            <td style="text-align:center">@total.ToString("C2")</td>
        </tr>
    </table>
    <input class="rounded" type="button" value="Authorise" style="margin-left:10px;float:right" onclick="location.href='@Url.Action("Authorise","AdjVoucher", new {sessionid = sessionId})'">
}

<footer>
    <div id="notes" style="margin-top:200px;font-size:12px">
        <p><u>Notes</u></p>
        <p>1. Inventory Adjustments. Possible Causes: </p>
        <ul>
            <li>items broken or expired</li>
            <li>adhoc i.e. detected when trying to issue the item(s)</li>
            <li>when issue/receipt of item is not recorded i.e. oversight</li>
        </ul>
        <p>2. Authorising Adjustments: </p>
        <ul>
            <li>Minor: anything under $250 per adjustment can be authorised by Supervisor</li>
            <li>Major: anything above $250 per adjustment has to be authorised by Manager</li>
        </ul>
    </div>
</footer>