@model SSISTeam9.Models.Employee

@{
    ViewBag.Title = "Login Page";
}

<title>
    Login Page
</title>
<link href="~/Content/signin.css" rel="stylesheet">
<h2 style="font-family:Arial, Helvetica, sans-serif;font-size:40px;text-align:center">Logic University</h2>
<br />
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {

        @Html.ValidationMessageFor(x => x.UserName, "", new { style = "color:red" })
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Username" })

        @Html.ValidationMessageFor(x => x.Password, "", new { style = "color:red" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })

        <input class="btn-lg btn-block rounded" type="submit" value="Login" />

    }

    @Html.Raw(TempData["errorMsg"])
</body>
<style>
    td, tr {
        padding: 3px
    }
</style>

